.popup-wrapper {
  position: relative;
}

.popup-content {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 40px -20px rgba(0, 0, 30, 0.6);
  z-index: 10;
  border: 1px solid #dddddd1c;
  transition: 4s;
}

.popup-content.popup-showed {
  top: calc(100% + 20px);
  opacity: 1;
}

.popup-content:before {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  z-index: 10px;
  clip-path: polygon(50% 30%, 0% 100%, 100% 100%);
  background: #fff;
  width: 15px;
  height: 10px;
}
